Repository hypertrons/hypertrons, pull requests merged in 2020-03, with the labels that each got.

#286 docs: add pull request template (#255)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/document, pull/approved

#283 refactor: enable load components from git URL
  .gitignore
  app/basic/HostingPlatform/ComponentService.ts
  app/basic/HostingPlatform/HostingClientService/LuaService.ts
  app/basic/HostingPlatform/HostingConfigBase.ts
  app/plugin/github/GitHubApp.ts
  globalConfigTemplate.json
  package-lock.json
  package.json
Labels: kind/enhancement, pull/approved

#287 refactor: fine-grained github actions steps
  .github/workflows/hypertrons.yml
  package-lock.json
  package.json
Labels: kind/enhancement, pull/approved

#292 feat: add global promise handler
  app/plugin/gitee/gitee-app.ts
  app/plugin/gitee/gitee-raw-client/gitee-raw-client.ts
  app/plugin/gitee/gitee-raw-client/issues.ts
  app/plugin/gitee/gitee-raw-client/pulls.ts
  app/plugin/gitee/gitee-raw-client/repos.ts
  app/plugin/gitee/gitee-raw-client/webhooks.ts
  app/plugin/ph-manager/AppPHManager.ts
  app/plugin/ph-manager/app.ts
  app/plugin/ph-manager/config/config.default.ts
  app/plugin/ph-manager/package.json
  app/plugin/ph-manager/ph-config.ts
  app/plugin/ph-manager/promise-handler.ts
  config/plugin.ts
  globalConfigTemplate.json
  package-lock.json
  package.json
  test/plugin/ph-manager/promise-handler.test.ts
Labels: pull/approved
